/*
 * Box-sizing-model
 */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * Responsive images
*/
img {
  max-width: 100%;
  height: auto;
}
/*
 * Cursor change on hover on Buttons
*/
input[type="submit"] {
  cursor: pointer;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
  /* height: 337px; */
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
  height: 0;
  width: 0;
  visibility: hidden;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html,
body {
  height: 100%;
  min-width: 320px;
}
html {
  font-size: 10px;
  line-height: 1.4;
}
body {
  font-size: 1.6rem;
  /* 10px * 1.6 = 16px */
  font-family: 'PT Sans';
}
p {
  font-size: 14px;
  line-height: 24px;
}
.block {
  background: green;
  padding: 20px;
  color: #000;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.block-bg {
  background-color: #065A97;
  padding: 30px 0;
}
.block-align {
  text-align: left;
}
.container > .header {
  margin: 0;
  padding: 0;
}
.section {
  padding-top: 48px;
}
.section-pt-20 {
  padding-top: 20px;
}
.pb-19 {
  padding-bottom: 19px;
}
/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens - adaptive styles bofore 1200px */
/* Medium Devices, Desktops - adaptive styles bofore 992px */
/* Small Devices, Tablets - adaptive styles bofore 768px */
/* Extra Small Devices, Phones - adaptive styles bofore 480px */
/* Custom, iPhone Retina - adaptive styles bofore 320px */
.header {
  position: relative;
  padding-top: 40px;
  width: 100%;
  height: 720px;
  background-image: url(../img/bg/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #FFF;
}
.header .header__description {
  margin-top: 100px;
}
.header__title h1 {
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 26px;
}
@media (min-width: 760px) {
  .header__title h1 {
    font-size: 48px;
  }
}
.header__slogan p {
  font-family: 'PT Sans';
  font-size: 18px;
  line-height: 24px;
  color: #FFF;
}
.logo {
  color: #FFF;
  text-transform: uppercase;
  font-family: 'Montserrat';
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.logo:hover,
.logo:active,
.logo:focus {
  color: #ffe400;
  text-decoration: none;
}
.logo--footer {
  color: #FFF;
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
  line-height: 20px;
  position: static;
  margin-bottom: 30px;
}
a.mouse_scroll {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 60px;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  margin-left: -12px;
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  animation-delay: 1.2s;
  text-transform: uppercase;
}
@media screen and (max-width: 820px) {
  a.mouse_scroll {
    bottom: 2rem;
    height: 50px;
  }
}
a.mouse_scroll:hover,
a.mouse_scroll:active,
a.mouse_scroll:focus {
  outline: none;
  text-decoration: none;
}
.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  margin: 1px 0 0 -41px;
  color: #FFF;
  width: 114px;
  height: 16px;
  text-decoration: none;
}
.unu {
  margin-top: 1px;
}
.unu {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
}
.unu {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
}
.doi {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  /* margin-top: -6px; */
}
.trei {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}
.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px;
  display: none;
}
@media (min-width: 768px) {
  .mouse {
    display: block;
  }
}
.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  height: 4px;
  width: 4px;
  border: 2px solid white;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
}
@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
.navigation {
  font-size: 14;
  text-transform: uppercase;
  font-family: 'Lato';
  /* @media (min-width:992px){
		position: static;
	} */
}
.navigation__toggle {
  color: #ccc;
  display: block;
  font-size: 38px;
  position: absolute;
  top: 23px;
  right: 16px;
  cursor: pointer;
  z-index: 2;
}
@media (min-width: 992px) {
  .navigation__toggle {
    display: none;
  }
}
.navigation__toggle--fixed {
  position: fixed;
}
ul.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  display: none;
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
}
@media (min-width: 992px) {
  ul.navigation__list {
    display: block;
    position: static;
    top: 60;
    background-color: transparent;
  }
}
ul.navigation__list--open {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
ul.navigation__list li {
  margin: 0 0 15px;
  padding: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
}
@media (min-width: 992px) {
  ul.navigation__list li {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-right: 36px;
    font-weight: 400;
  }
  ul.navigation__list li:last-child {
    margin-right: 0;
  }
}
ul.navigation__list a {
  color: #FFF;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
ul.navigation__list a:hover,
ul.navigation__list a:focus,
ul.navigation__list a:active {
  color: #ffe400;
}
.cmn-toggle-switch {
  display: block;
  position: absolute;
  right: 16px;
  margin: 0;
  padding: 0;
  z-index: 5;
  width: 50px;
  height: 28px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
@media (min-width: 992px) {
  .cmn-toggle-switch {
    display: none;
  }
}
.cmn-toggle-switch:focus {
  outline: none;
}
.cmn-toggle-switch span {
  display: block;
  position: absolute;
  /* top: 20px; */
  left: 5px;
  right: 5px;
  height: 5px;
  background: silver;
}
.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #ccc;
  content: "";
}
.cmn-toggle-switch span::before {
  top: -10px;
}
.cmn-toggle-switch span::after {
  bottom: -10px;
}
/**
 * Style 2
 */
.cmn-toggle-switch__htx {
  /* background-color: #ff3264; */
  position: fixed;
  background: transparent;
}
.cmn-toggle-switch__htx span {
  -webkit-transition: background 0 0.3s;
  transition: background 0 0.3s;
}
.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0;
  transition-delay: 0.3s, 0;
}
.cmn-toggle-switch__htx span::before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, transform;
}
.cmn-toggle-switch__htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
}
/* active state*/
.cmn-toggle-switch__htx.active {
  /* background-color: #cb0032; */
  position: fixed;
}
.cmn-toggle-switch__htx.active span {
  background: none;
}
.cmn-toggle-switch__htx.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cmn-toggle-switch__htx.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
  -webkit-transition-delay: 0, 0.3s;
  transition-delay: 0, 0.3s;
}
.services-item {
  margin-bottom: 34px;
  height: 113px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 740px) {
  .services-item {
    max-width: 567px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .services-item {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 58px;
  }
}
.services-item .fa {
  font-size: 24px;
}
.services-item__logo {
  margin-bottom: 85px;
  float: left;
  margin-right: 18px;
}
.servicess__heading {
  font-size: 14px;
  color: #324953;
  font-weight: 700;
}
.servicess__description {
  font-size: 12px;
  color: #85949B;
  font-family: 'Lato';
}
.services-item__content h3 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #324953;
  font-weight: 700;
  margin-bottom: 14px;
}
.services-item__content p {
  font-size: 12px;
  color: #85949B;
  font-family: 'Lato';
  line-height: 14px;
  padding-left: 18px;
}
@media (min-width: 740px) {
  .services-item__content p {
    padding-left: 0;
  }
}
.gallery {
  width: 100%;
}
.container-fluid--p-0 {
  padding: 0;
}
.gallery-item {
  height: 238px;
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
@media (min-width: 768px) {
  .gallery-item {
    height: 290px;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }
}
.gallery-item__hover {
  z-index: 1;
  display: block;
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 100%;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 24px;
  background-color: rgba(15, 17, 23, 0.75);
  color: #FFF;
  /* display: none; */
  -webkit-transition: bottom 0.5s ease-in;
  -moz-transition: bottom 0.5s ease-in;
  -ms-transition: bottom 0.5s ease-in;
  -o-transition: bottom 0.5s ease-in;
  transition: bottom 0.5s ease-in;
}
.gallery-item__hover p {
  font-size: 11px;
  padding-right: 30px;
  line-height: 1.3;
  font-family: 'Lato';
  margin-right: auto;
  margin-left: auto;
}
.gallery-item__hover .fa {
  font-size: 14px;
  padding: 5px;
  margin-top: 14px;
  margin-right: 21px;
  color: #000;
  background-color: #FFF;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.gallery-item__hover .gallery-item__hover--description {
  margin-top: 61px;
  margin-left: 12px;
  width: 100%;
}
.gallery-item__hover .gallery-item__hover--description span {
  text-transform: uppercase;
  margin-right: 8px;
  font-family: 'Lato';
  font-size: 10px;
}
.gallery-item__hover .gallery-item__hover--description h3 {
  font-size: 24px;
}
.gallery-item__hover .gallery-item__hover--description a {
  /* color: #FFF; */
  text-decoration: none;
  width: 25px;
  height: 25px;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.gallery-item__hover .gallery-item__hover--description a:hover,
.gallery-item__hover .gallery-item__hover--description a:focus,
.gallery-item__hover .gallery-item__hover--description a:active {
  background-color: #ffe400;
}
.gallery-item:hover .gallery-item__hover {
  display: block;
  bottom: 0%;
}
.heading {
  color: #000;
  font-weight: 700;
  font-size: 24px;
  /* margin-top: 50px; */
  margin-bottom: 77px;
  text-transform: uppercase;
  text-align: center;
}
.heading__smoll {
  font-size: 30px;
  text-align: left;
}
.person {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 135px;
}
.person-item {
  margin-bottom: 20px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .person-item {
    margin-bottom: 0;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
.person-item__image {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width: 216px;
  height: 216px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 27px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-image: url("../img/placeholders/user-avatar-placeholder-small.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.person-item__hover {
  display: block;
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 24px;
  background-color: rgba(15, 17, 23, 0.75);
  color: #FFF;
  /* display: none; */
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  opacity: 0;
  /* transition: opacity .5s; */
}
.person-item__hover p {
  font-size: 11px;
  padding-right: 30px;
  line-height: 1.3;
  font-family: 'Lato';
  margin-right: auto;
  margin-left: auto;
}
.person-item__hover .fa {
  font-size: 14px;
  padding: 5px;
  margin-top: 14px;
  margin-right: 21px;
  color: #000;
  background-color: #FFF;
  width: 25px;
  height: 25px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.person-item__hover .person-item__hover--icon {
  position: absolute;
  width: 23px;
  height: 23px;
  font-size: 24px;
}
.person-item__hover .person-item__hover--icon a {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.person-item__hover .person-item__hover--icon a:hover {
  background-color: #ffe400;
  text-decoration: none;
}
.person-item__hover .person-item__hover--facebook {
  position: absolute;
  top: 128px;
  left: 44px;
}
.person-item__hover .person-item__hover--twitter {
  position: absolute;
  bottom: 41px;
  left: 97px;
}
.person-item__hover .person-item__hover--inst {
  position: absolute;
  top: 128px;
  right: 44px;
}
.person-item__hover .person-item__hover--description {
  margin-top: 165px;
  margin-left: 12px;
  width: 100%;
  font-size: 24px;
}
.person-item__image:hover .person-item__hover {
  display: block;
  /* bottom:0%; */
  opacity: 1;
}
.person-item__name {
  font-size: 24px;
  font-weight: 700;
}
.person-item__spec {
  font-size: 14px;
  color: #AFBFC6;
}
.person-item__desc {
  font-family: 'Lato';
  color: #72848C;
  line-height: 26px;
  font-size: 12px;
}
.contacts {
  background-color: #E7EEF2;
  /* height: 655px; */
  /* width: 100%; */
  /* margin-top: 50px; */
  background-image: url(../img/bg/contact-bg.png);
  background-repeat: no-repeat;
  background-position: bottom right ;
  padding-top: 70px;
  padding-bottom: 110px;
}
.contact-form__input {
  color: #00599a;
  font-size: 16px;
  font-weight: 700;
  display: block;
  width: 100%;
  margin-bottom: 26px;
  padding: 10px 19px;
  outline: none;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  border: 3px solid #ffffff;
  -webkit-transition: border-color 0.3s ease-in;
  -moz-transition: border-color 0.3s ease-in;
  -ms-transition: border-color 0.3s ease-in;
  -o-transition: border-color 0.3s ease-in;
  transition: border-color 0.3s ease-in;
}
.contact-form__input:hover,
.contact-form__input:focus,
.contact-form__input:active {
  border: 3px solid #a2d1f4;
}
.contact-form__input--mb-70 {
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  .contact-form__input--mb-70 {
    margin-bottom: 70px;
  }
}
@media (min-width: 992px) {
  .pr-0 {
    padding-right: 0;
  }
}
@media (min-width: 992px) {
  .pl-8 {
    padding-left: 8px;
  }
}
.contact-form__textarea {
  color: #00599a;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  height: 187px;
  margin-bottom: 10px;
  padding: 10px 19px;
  outline: none;
  border: none;
  margin-top: 26px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #fff;
  border: 3px solid #ffffff;
  -webkit-transition: border-color 0.3s ease-in;
  -moz-transition: border-color 0.3s ease-in;
  -ms-transition: border-color 0.3s ease-in;
  -o-transition: border-color 0.3s ease-in;
  transition: border-color 0.3s ease-in;
}
@media (min-width: 962px) {
  .contact-form__textarea {
    height: 390px;
    margin-top: 0;
  }
}
.contact-form__textarea:hover,
.contact-form__textarea:focus,
.contact-form__textarea:active {
  border: 3px solid #a2d1f4;
}
.contact-form__submit {
  width: 100%;
  font-size: 14px;
  padding: 8px 47px 12px;
  text-align: center;
  color: #FFF;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border: 4px solid #000;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #000;
}
.footer {
  background-color: #141A20;
  height: 250px;
  color: #FFF;
  padding-top: 57px;
  padding-bottom: 52px;
  text-align: center;
}
nav.footer-nav-wrapper {
  font-size: 13px;
  text-transform: uppercase;
  font-family: 'Roboto';
  margin-bottom: 25px;
}
nav.footer-nav-wrapper ul.footer-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  nav.footer-nav-wrapper ul.footer-nav {
    display: block;
    top: 60;
  }
}
nav.footer-nav-wrapper ul.footer-nav--open {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
nav.footer-nav-wrapper ul.footer-nav li.footer-nav__element {
  margin: 0;
  padding: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  nav.footer-nav-wrapper ul.footer-nav li.footer-nav__element {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-right: 25px;
  }
  nav.footer-nav-wrapper ul.footer-nav li.footer-nav__element:last-child {
    margin-right: 0;
  }
}
nav.footer-nav-wrapper ul.footer-nav a.footer-nav__link {
  color: #FFF;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
nav.footer-nav-wrapper ul.footer-nav a.footer-nav__link:hover,
nav.footer-nav-wrapper ul.footer-nav a.footer-nav__link:focus,
nav.footer-nav-wrapper ul.footer-nav a.footer-nav__link:active {
  color: #ffe400;
}
.footer__social {
  text-align: center;
}
.footer__social-item .fa {
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  margin-top: 14px;
  margin-right: 21px;
  color: #fff;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 3px solid #fff;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.footer__social-item .fa:hover {
  border: 3px solid #ffe400;
}
.footer__social-item a {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.footer__social-item a:hover {
  background-color: #ffe400;
  text-decoration: none;
}
.blog-item {
  position: relative;
  color: #FFF;
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 19px;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
@media (min-width: 760px) {
  .blog-item {
    margin-bottom: 0;
  }
}
.blog-item:after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  background: -webkit-linear-gradient(bottom, #000000, rgba(0, 0, 0, 0.3));
}
.blog-item__content {
  z-index: 1;
}
.blog-item__content .blog-item__title {
  font-size: 23px;
  font-weight: 700;
  line-height: 35px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  padding-left: 23px;
}
.blog-item__content .blog-item__description {
  font-size: 12px;
  padding-left: 20px;
  padding-bottom: 25px;
}
.blog-item__content .blog-item__description span {
  text-transform: uppercase;
  margin-left: 15px;
  margin-right: 9px;
}
.blog-item__content .blog-item__description span .fa {
  margin-right: 13px;
}
.blog-item__content .blog-item__description .fa {
  margin-right: 13px;
}
.blog-item__content .blog-item__description-item {
  float: left;
  margin-right: 15px;
  /* &:last-child{
			float: right;
		} */
}
/*# sourceMappingURL=main.css.map */