.header {
  position: relative;
  padding-top: 40px;
  width: 100%;
  height: 720px;
  background-image: url(../img/bg/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #FFF;
  
  
  .header__description{
     margin-top: 100px;
   
    
  } 
}
 .header__title h1{
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: 26px;
    @media (min-width: 760px){
       font-size: 48px;
    }
  }
  .header__slogan p{
    font-family: 'PT Sans';
    font-size: 18px;
    line-height: 24px;
    color: #FFF;
  }